$white: #ffffff;
$black: #000000;
$primary: #08A6E4;
$primary_light: #07ACE6;
$primary-light2: #07ACE629;
$second: #EB476E;
$second2: #FB3B64;
$second3: #F9043629;
$second5: #FF091129;
$third: #55DFB4;
$other: #13253B;
$other2: #707070;
$other3: #95989A;
$other4: #A5A5A5;
$other5: #00000029;
$other6: #E8E9ED;
$other7: #F7F7F7;