.header {
  background-color: $white;
  box-shadow: 0 .1875rem .375rem $other5;
  height: 4.375rem;

  .header__inner {
    width: 100%;
    max-width: 84.5rem;
    margin-inline: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
  }

  .logo {
    text-decoration: none;
    font-family: $font-raleway;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.15625rem;
    color: $primary;
    display: flex;
    align-items: center;
  }

  .mainMenu {
    display: flex;
    justify-content: flex-end;

    @include mobile {
      position: absolute;
      left: 0;
      top: 95px;
      flex-direction: column;
      background-color: white;
      width: 100%;
      padding-bottom: 10px;

      display: none;
    }


    .mainMenu__item {
      color: $other4;
      text-decoration: none;
      font-family: $font-open-sans;
      font-weight: 700;
      font-size: 0.6875rem;
      text-transform: uppercase;
      padding: 1.75rem 1.125rem 1.375rem;
      border-bottom: 0.25rem solid white;
      letter-spacing: 0.1875rem;
      transition: all 500ms ease-in-out;

      &.mainMenu__item:last-child {
        padding-right: 0;
      }

      &.mainMenu__item:hover {
        color: $black;
        border-color: $primary;
      }
    }
  }

  .hamburger {

    @include mobile {
      width: 40px;
      height: 35px;
      border: 0;
      border-top: 5px solid $primary;
      background: transparent;
      position: absolute;
      right: 10px;
      top: 10px;
      transition: 0.3s transform linear;


      &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 5px solid $primary;
        transform: translateY(10px);
      }

      &::after {
        transform: translateY(25px);
        transition: 0.3s transform linear;
      }

      &:focus {
        transform: rotate(45deg) translateY(5px);
        border: none;
      }

      &:focus::after {
        transform: rotate(-90deg) translateX(-10px);
      }
    }

    &:focus + .mainMenu {
      display: flex;
      transform: translateX(0);
    }

    @media (min-width: 792px) {
      display: none;
    }
  }
}

