@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Raleway:wght@300;500;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import "generic/reset";

@import "src/styles/scss/settings/fonts";
@import "src/styles/scss/settings/colors";
@import "src/styles/scss/settings/mixins";

@import "src/styles/scss/grid";
@import "src/styles/scss/elements/base";
@import "src/styles/scss/elements/header";
@import "src/styles/scss/elements/hero";
@import "src/styles/scss/elements/opening";
@import "src/styles/scss/elements/statistics";
@import "src/styles/scss/elements/benefits";


body {
  font-family: 'Open Sans', sans-serif;
  background: #E4E4E4;
  color: #444444;
}